---
import CardComand from "@components/CardComand.astro";
import { BASE_URL } from "@config/public_variables";
import Layout from "@layouts/Layout.astro";
const pages = ["Index","About","Contact"]
---

<Layout 
    title="Deploy react docker"
    description="Como desplegar un mi página de react en docker"
    keywords="Deploy react docker, Dockerize react aplicaction"
    >
    <div class="container">
        <h1>Deplegar una aplicación de react con docker</h1>
        <p>En este caso usaremos el <a href={BASE_URL + "/create-project-react"}>proyecto react creado anteriormente</a> </p>
        <h2>1. Crear el Dockerfile</h2>
        <CardComand title="nano Dockerfile"/>
        <pre>
            <code><span class="text-yellow">FROM</span> node:20</code>
            <code><span class="text-yellow">WORKDIR</span> /my_app</code>
            <code><span class="text-yellow">COPY</span> . . </code>
            <code><span class="text-yellow">RUN</span> npm install</code>
            <code><span class="text-yellow">RUN</span> npm run build </code>
            <code><span class="text-yellow">RUN</span> npm install -g serve </code>
            <code><span class="text-yellow">EXPOSE</span> 3000 </code>
            <code><span class="text-yellow">CMD</span> ["serve", "-s" ,"dist"] </code>
        </pre>
        <h2>2. Crear la imagen y el contendor</h2>
        <p>Creamos la imagen</p>
        <CardComand title="docker build -t my_app_image ."/>
        <CardComand title="docker images"/>
        <pre>
            <code>REPOSITORY               TAG       IMAGE ID       CREATED              SIZE</code>
            <code>my_app_image             latest    ccb1c0038a2c   About a minute ago   1.2GB</code>
        </pre>
        <p>Ahora creamos el contenedor basado en la imagen</p>
        <CardComand title="docker run -d -p 80:3000 --name my_app_container my_app_image"/>
        <CardComand title="docker ps"/>  
        <pre>
            <code>CONTAINER ID   IMAGE          COMMAND                  CREATED         STATUS         PORTS                                       NAMES            </code>
            <code>{`acd928431a81   my_app_image   "docker-entrypoint.s…"   5 seconds ago   Up 2 seconds   0.0.0.0:4000->3000/tcp, :::4000->3000/tcp   my_app_container`}</code>
        </pre>       
        <p>Listo ya podemos visitar:</p>
        <ul>
            {["","about","contact"].map(c=>( 
            <li>
                <a href="http://127.0.0.1/about">http://127.0.0.1/{c}</a> 
            </li>
            ))}
        </ul>
    </div>
</Layout>
