---
import { BASE_URL } from "@config/public_variables";

type Shortcut = {
  title: string;
  shortcuts?: {title:string,href:string}[];
};

const SHORTCUTS: Shortcut[] = [
  {
    title: "Apache",
    shortcuts: [{ title: "Apache Docker", href: "apache-docker-example" }],
  },
  {
    title: "Docker",
    shortcuts: [
      { title: "Volumes", href: "docker-volumes" },
      // { title: "Users and permissions", href: "users-and-permissions" },
    ],
  },
  {
    title: "Linux",
    shortcuts: [
      { title: "Comands", href: "linux-comands" },
      // { title: "Users and permissions", href: "users-and-permissions" },
    ],
  },
];
---

<div class="sidebar">
  <ul>
    {
      SHORTCUTS.map(({ title, shortcuts }) => (
        <li>
          {shortcuts !== undefined && shortcuts.length > 0 && (
            <p>{title}</p>
            <ul>
              {shortcuts.map(({ href, title }) => (
                <li>
                  <a href={BASE_URL + "/" + href}>{title}</a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</div>

<style>
  .sidebar {
    margin-top: 40px;
    margin-right: 40px;
    min-width: max-content;
  }
  .sidebar p {
    font-weight: bold;
  }
</style>
