<div class="sidebar">
  <ul>
    <li><a href="https://duberlym.github.io/apache-docker-example">Docker Apache</a></li>
  </ul>
</div>

<style>
    .sidebar {
        margin-top: 40px ;
        margin-right: 40px;
        min-width: max-content;
    }
</style>